$primary: #03C988 !important;
$secondary: #28df9d !important;
$background: #f6f6f6 !important;
$accent: #2274A5 !important;
$dark: #1d1d1d !important;
$dark-shade: #2c2c2c !important;
$light: #ffffff !important;
$light-shade: #f4f3f2 !important;
